In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 77 kB/s  eta 0:00:011  |▋                               | 3.8 MB 1.6 MB/s eta 0:02:11     |▉                               | 5.6 MB 1.4 MB/s eta 0:02:31     |██████████▉                     | 72.0 MB 2.8 MB/s eta 0:00:51     |███████████████▋                | 103.6 MB 3.4 MB/s eta 0:00:33█████████████▌             | 122.5 MB 2.5 MB/s eta 0:00:37     |███████████████████▍            | 129.0 MB 5.1 MB/s eta 0:00:17     |███████████████████▉            | 131.9 MB 1.2 MB/s eta 0:01:06��██████████████████▉            | 132.0 MB 1.2 MB/s eta 0:01:06     |█████████████████████▍          | 141.7 MB 2.6 MB/s eta 0:00:27143.6 MB 2.3 MB/s eta 0:00:30     |█████████████████████▉          | 144.8 MB 2.3 MB/s eta 0:00:30�█▏         | 146.9 MB 686 kB/s eta 0:01:36     |███████████████████████████▌    | 182.9 MB 2.6 MB/s eta 0:00:12 0:01:31███████▎ | 201.3 MB 324 kB/s eta 0:00:35     |███████████████████████████████ | 205.7 MB 1.4 MB/s eta 0:00:05
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 3.3 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880769 sha256=09ffb947c5f00e6d94ae2626399fe90aa752aa15da85501d37d9f5aa4753b123
  Stored in directory: /Users/elifseven/Library/Caches/pip/wheels/df/88/9e/58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv("test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [5]:
from pyspark.sql import SparkSession

In [10]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [11]:
spark

In [12]:
df_pyspark = spark.read.csv("test1.csv")

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [14]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [21]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [18]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [22]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]